.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.post-list--tweet .link-to-tweet {
	text-align: center;

  a {
	color: var(--color-theme-primary);

	&:not(:hover) {
	  text-decoration: none;
	}
  }
}
