.site-foot {
  // Reverse whatever the theme colors are
  background: var(--color-bg-glare);
  color: var(--color-text);
  border-top: 1px solid var(--color-stroke);

  &__list-heading {

  }

  ul {
    list-style-type: none;
    a {
      text-decoration: none;
      color: var(--color-primary);
    }
  }

  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    font-size: get-size(300);
  }
}
