.site-head {
  &__inner {
    border-bottom: 1px solid #eeeeee;
  }
  &__site-name {
    @include apply-utility('font', 'bold');
    text-decoration: none;
    color: var(--color-text);
  }
  &__site-logo {
    height: 2rem;
    width: 2rem;
  }
}
