{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introHeadingLevel = '2' %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeadingLevel = '2' %}
{% set postListHeading = postsHeading %}
{% set postListItems = collections.posts %}
{% block content %}
  {% include "partials/components/intro.njk" %}
  {% include "partials/components/post-list.njk" %}
{% endblock %}
