{% extends 'layouts/base.njk' %}
{% set pageType = 'Post' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  <p class="[ intro__meta ] [ text-500 leading-tight ] [ opacity-75 ]">
    {% if date %}
      <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
    {% endif %}
    <span role="text" class="" >— {{ helpers.getReadingTime(content) }} minute read</span>
  </p>
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      <div class="[ inner-wrapper no-pad ] [ pad-top-700 ]">
        {% include "partials/components/intro.njk" %}
      </div>
      <div class="[ post__body ] [ inner-wrapper ] [ pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
      <hr>
      <div class="[ inner-wrapper ] [ pad-top-500 ] [ pad-bottom-900 ]">
        <p class="" ><span class="[ opacity-75 ]">Posted by {{ author }} in </span>
        {% if tags %}
          {% for item in tags %}
              <span class="[ post__tag ]"><a href="/tags/{{ item }}">{{ item }}</a></span>
          {% endfor %}
        {% endif %}
        </p>
      </div>
      {% if site.enableThirdPartyComments %}
        <hr />
        <aside class="[ post__body ] [ inner-wrapper ] [ pad-bottom-900 text-500 ]">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
    </article>
  </main>
{% endblock %}


{{ content | safe }}
