---
permalink: /styleguide/
---

{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = 'Styleguide' %}
{% set introHeadingLevel = '1' %}

{% block content %}
  <style>
    .swatches {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
      grid-gap: 2.5rem 2rem;
    }

    .props dt {
      font-weight: 600;  
    }

    .props dd + dt {
      margin-top: 0.5rem;
      display: block;
    }

    .color {
      border: 1px dashed var(--color-stroke);
    }
  </style>
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <article class="inner-wrapper">
      <section class="[ sf-flow ] [ pad-top-500 ]">
        <h2>Colours</h2>
        <ul class="swatches">
          {% for color in styleguide.colors() %}
            <li class="sf-flow">
              <div class="[ color ] [ pad-top-900 pad-bottom-900 ]" style="background: {{ color.value }}"></div>
              <h3 class="font-base text-500">{{ color.key }}</h3>
              <dl class="props">
                <dt>Value</dt>
                <dd><code>{{ color.value }}</code></dd>
                <dt>Sass function</dt>
                <dd><code>get-color('{{ color.key }}')</code></dd>
                <dt>Custom Property</dt>
                <dd><code>var(--color-{{ color.key }})</code></dd>
                <dt>Text util class</dt>
                <dd><code>color-{{ color.key }}</code></dd>
                <dt>Background util class</dt>
                <dd><code>bg-{{ color.key }}</code></dd>
              </dl>
            </li>
          {% endfor %}
        </ul>
        <h2>Text sizes</h2>
        <p>Text sizes are available as standard classes or media query prefixed, such as <code>lg:text-500</code>.</p>
        {% for size in styleguide.sizes() %}
          <p class="text-{{ size.key }}" style="--flow-space: 1.5rem">{{ size.value }} - <code>text-{{ size.key }}</code></p>
        {% endfor %}
      </section>
    </article>
  </main>
{% endblock %}
