@font-face {
  font-family: 'et-book';
  src: url('/fonts/etbookot-roman-webfont.woff2') format('woff2'),
    url('/fonts/etbookot-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'et-book';
  src: url('/fonts/etbookot-italic-webfont.woff2') format('woff2'),
    url('/fonts/etbookot-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'et-book';
  src: url('/fonts/etbookot-bold-webfont.woff2') format('woff2'),
    url('/fonts/etbookot-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums;

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
  font-weight: 400;
}

h1 {
  font-size: get-size(800);
}

h2 {
  font-size: get-size(700);
}

h3 {
  font-size: get-size(600);
}

h4 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }

  h4 {
    font-size: get-size(600);
  }
}
