/* lora-700 - latin */
@font-face {
  font-family: 'et-book';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('ETBook Bold'), local('ETBookOT-Bold'),
    url('/fonts/etbookot-bold-webfont.woff2') format('woff2'),
    url('/fonts/etbookot-bold-webfont') format('woff');
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);
  text-rendering: optimizeLegibility;

  @include apply-utility('font', 'base');
}

h1,
h2,
h3 {
  @include apply-utility('font', 'serif');
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums;
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}
