@font-face {
  font-family: 'basier_circlebold';
  src:font-url('/fonts/basiercircle-semibold-webfont.eot');
  src:font-url('/fonts/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('/fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
       font-url('/fonts/basiercircle-semibold-webfont.woff') format('woff'),
       font-url('/fonts/basiercircle-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'basier_circleregular';
  src: font-url('/fonts/basiercircle-regular-webfont.eot');
  src: font-url('/fonts/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('/fonts/basiercircle-regular-webfont.woff2') format('woff2'),
       font-url('/fonts/basiercircle-regular-webfont.woff') format('woff'),
       font-url('/fonts/basiercircle-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2,
h3,
h4 {
  @include apply-utility('font', 'bold');
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(500);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(700);
  }
}
